version: '3.8'
services:
  redis:
    container_name: redis
    image: redis:alpine
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    restart: always
    deploy:
      resources:
        limits:
          memory: 512M
  blue:
    container_name: blue
    image: jinkonu/feelin-dev:latest
    pull_policy: always
    expose:
      - 8083
    ports:
      - "8084:8083"
    environment:
      - TZ=Asia/Seoul
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - ./firebase-key.json:/src/main/resources/firebase-key.json
    depends_on:
      - redis
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    deploy:
      resources:
        limits:
          memory: 512M
  green:
    container_name: green
    image: jinkonu/feelin-dev:latest
    pull_policy: always
    expose:
      - 8083
    ports:
      - "8085:8083"
    environment:
      - TZ=Asia/Seoul
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - ./firebase-key.json:/src/main/resources/firebase-key.json
    depends_on:
      - redis
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    deploy:
      resources:
        limits:
          memory: 512M

volumes:
  redis-data:
